
@{
    ViewBag.Title = "Index";
}


<p id="aboutUsText">Rent from the Best, founded 50 years ago, started out as a car rental, leasing and servicing vehicles. Our financial vision and profound economic understanding led the team to success and continuous growth and is now one of the leading investment groups in Israel. Alongside being a leading company in the field of automotive services, with a fleet of 80,000 vehicles, the Group has investments in various industries.</p>