@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model RentCars.BL.RecordResponse<User>

@{
    ViewBag.Title = "WorkerSignin";
}

<div class="container">

    <form action="http://localhost:52042/Guest/WorkerSignin" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <h3>Employee, please sign in</h3>
            <label for="username" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
                <input type="text" name="username" id="username" placeholder="Username" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" name="password" id="password" placeholder="Password" required class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
            </div>
        </div>
    </form> <!-- /form -->
</div> <!-- ./container -->

@if (Model != null)
{
    <div>@Model.Message</div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>